{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="todo-container">
        <h2>Todo List</h2>

        <form method="post" class="form">
            {% csrf_token %}
            <label>Todo Name:</label>
            <input type="text" name="name" placeholder="Add a new todo" required>

            <label>Description:</label>
            <input type="text" name="dis" placeholder="Description" required>

            <label>Date:</label>
            <input type="date" name="date" required>

            <button type="submit">Add</button>
        </form>

    </div>

    {% block body %}
    {% endblock %}
</body>
</html>
